extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

  body
    div
      h1.header Welcome to <el class="good">good</el><el class="tree">trees</el>
      h1.header Where climbers find good trees to climb

