<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/splashPage.css")
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap" rel="stylesheet")
  title Good Trees
  body
    div(class="splash-container")
      div(class="welcome")
        a(href="/" class="good") good
        a(href="/" class="tree") trees
      div(class="spacer")
      if locals.authenticated
        div(class="sign-up")
          a(class="splash-page-link" href=`/users/${locals.curUser.id}`) My Forest
          a(class="splash-page-link" href="/trees") Find Trees
          form(action="/users/logout" method="post")
            button(type="submit" class="splash-page-link") Logout
      else
        div(class="sign-up")     
            a(class="splash-page-link" href="/users/login") Log-In
            a(class="splash-page-link" href="/users/sign-up") Sign-Up
        div(class='form__auth')
        block content
      div(class="climbers")  
        p where climbers find <el class="good">good</el><el class="tree">trees</el> to climb


