doctype html
html
  head
    block head
      title="goodtrees"
      link(rel="icon" type="image/ico" href="favicon.ico")
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap" rel="stylesheet")
      link(rel='stylesheet' href='/stylesheets/index.css')
  body

    div(class="nav")
      div(class="logo")
        a(href="/" class="good goodTrees") good
        a(href="/" class="tree goodTrees") trees
        if locals.authenticated
          
          a(href=`/users/${locals.user.id}` class="navBar") My Forest
          a(href="/trees" class="navBar") Find Trees
          a(href="/users" class="navBar") Highest Climbers
          form(action="/users/logout" method="POST")
            button(type="submit" class="logOut") Log Out
        else
          a(href="/" class="navBar") Home
          a(href="/users/login" class="navBar") Log In
          a(href="/users/sign-up") Sign Up
    block content
