<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/splashPage.css")
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap" rel="stylesheet")
    script(src="/javascripts/splash.js" type="module" defer)
    title Good Trees
    meta(property="og:title" content="GoodTrees")
    meta(property="og:website" content="website")
    meta(property="og:url" content="https://goodtrees.herokuapp.com/")
    meta(name="image" property="og:image" content="https://good-trees.s3-us-west-1.amazonaws.com/GoodTrees-preview.png")
    meta(name="description" property="og:description" content="For those who love the climb and the view from the top. Inspired by the social cataloging platform of goodreads and the fun energy of tree climbers everywhere.")
    meta(name="author" content="Andre Grant, Gabriel Gutierrez, Tommy Chen, Zachary Duvall")
  body
    div(class="splash-container")
      div(class="welcome")
        a(href="/" class="good") good
        a(href="/" class="tree") trees
      .splash-container__content-container
        if locals.authenticated
          div(class="sign-up")
            a(class="splash-page-link" href=`/users/${locals.curUser.id}`) My Forest
            a(class="splash-page-link" href="/trees") Find Trees
            form(action="/users/logout" method="post" id="logoutForm")
              <a class="splash-page-link" href="javascript:;" onclick="document.getElementById('logoutForm').submit();">Logout</a>
              
        else
          div(class="sign-up")     
              a(class="splash-page-link" href="/users/login") Log In
              a(class="splash-page-link" href="/users/sign-up") Sign Up
        block content
      div(class="climbers")  
        p where climbers find <el class="good">good</el><el class="tree">trees</el> to climb


