.form-container {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  background-color: #f8f6f3;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

.form__auth {
  width: 50%;
}

.form {
  margin-left: -15%;
  
}

.labelClass {
  color: #212121;
  padding-top: 0.25rem;
}

select {
  width: 150px;
  height: 30px;
  border: 1px solid #999;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #6c9734;
  background-color: #eee;
  border-radius: .25rem;
  box-shadow: 2px 2px #ccc;
}

textarea {
  background-color: #eee;
  border-radius: .25rem;
}

.form-control {
  border-radius: .25rem;
  background-color: #eee;
}

button {
  background-color: #6c9734;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.signup-confirmPass {
  background-color: #6c9734;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-confirmPass:hover {
  opacity: 0.9;
}

.signup-btn {
  padding-top: .5rem;
}

.form-select {
  width: 25%;
  margin-top: 6px;
}

img {
  max-width: 50%;
  border-radius: 50%;
  /* padding-right: 1rem; */
}

.login-btn {
  padding-top: 0.5rem;
}

