/* Logo */
.logo {
  margin: 50px;
  display: flex;
}

.good {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #212121;
  text-decoration: none;
}

.tree {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #6c9734;
  text-decoration: none;
}

/* Navbar */
.navbar .logo {
  margin-left: 10%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  /* flex-direction: row; */
  margin: auto;
  align-items: center;
  width: auto;
  height: 50px;
  /* width: 100%; */
  font-family: "Raleway", sans-serif;
  background-image: url("/leaf-background-vector.png");
}

.nav-link {
  font-size: .75rem;
  align-self: flex-end;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.nav-span {
  width: 50%;
  text-align: center;
  align-self: center;
}

.nav-logout-btn {
  color: #212121;
  align-self: flex-end;
  font-family: "Raleway", sans-serif;
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
}
.nav-logout-form:hover {
  background: #d9cfbf;
  border-radius: 0.25rem;
}

h1 {
  color: #555555;
}

body {
  background: #f8f6f3;
  /* background: #f7eee9; */
}

.homepage-link {
  padding: 1rem;
}

a:hover:not(.goodTrees) {
  background: #d9cfbf;
  border-radius: 0.25rem;
}

.header {
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.container {
  width: 60%;
  max-width: 800px;
  margin: auto;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
}

.sidebar {
  width: 25%;
  height: fit-content;
  flex-wrap: wrap;
  border: #873307 solid;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 5rem;
}

.container__main-content {
  flex-grow: 1;
  padding: 0.5rem 1rem;
}

.sub-header {
  font-weight: 600;
  color: #873307;
  padding-top: 20px;
  font-size: 1.1rem;
}



.sidebar-header {
  font-weight: 400;
}

.score {
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.trees-table {
  width: 100%;
  padding-top: 1rem;
}

.column {
  width: 30%;
  text-align: center;
  vertical-align: middle;
}

.new-tree__button {
  font-weight: 600;
  color: #873307;
  border: #873307 solid;
  border-radius: 2px;
}

.tree-page__name {
  display: flex;
  justify-content: center;
}

.signup a {
  float: left;
  color: #f2f2f2;
  background-color: 6c9734;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.review-list__table {
  display: table;
  table-layout: auto;
  width: 100%;
  padding-top: 1rem;
  border: solid #873307;
  border-radius: 1rem;
}

.review-list__container {
  width: 100%;
  max-width: 800px;
  margin: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
}

.tree-view__content {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  text-align: center;
}

.tree-page__name {
  padding: 3%;
}

.review-list__description {
  padding: 0px 1rem;
}

.review-list__description__title {
  font-weight: 800;
}

.review-list__column {
  width: 25%;
}
