/* Logo */
.logo {
  display: flex;
}

.good {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #212121;
  text-decoration: none;
}

.tree {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #6c9734;
  text-decoration: none;
}


/* Navbar */
.navbar {
  display:flex;
  flex-direction: row;
  margin:auto;
  align-items: center;
  width: 80%;
  font-family: "Raleway", sans-serif;
}

.nav-link {
  align-self: flex-end;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.nav-span {
  width: 50%;
  text-align: center;
  align-self: center;
}

.nav-logout-btn {
  align-self: flex-end;
  font-family: "Raleway", sans-serif;
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;

}
.nav-logout-form:hover {
  background: #e2f0d0;
  border-radius: .25rem;
}


h1 {
  color: #555555;
}

html {
  background: #fff8f2;
}

.homepage-link {
  padding: 1rem;
}

a:hover:not(.goodTrees){
  background: #e2f0d0;
  border-radius: .25rem;
}

.header{
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.container {
  width: 60%;
  max-width: 800px;
  margin: auto;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
}

.sidebar {
  width: 25%;
  height: fit-content;
  flex-wrap: wrap;
  border: #873307 solid;
  border-radius: 1rem;
  padding: .5rem 1rem;
  position: sticky;
  top: 1em;
}

.container__main-content {
  flex-grow: 1;
  padding: .5rem 1rem;
}

.sub-header {
  font-weight: 600;
  color: #873307;
  padding-top: 20px;
}

.score {
  margin: auto;
  width: fit-content;
  padding: 1rem;
}

.trees-table {
  width: 100%;
  padding-top: 1rem;
}

.column {
  width: 30%;
  text-align: center;
  vertical-align: middle;
}

.new-tree__button {
    font-weight: 600;
    color: #873307;
    border: #873307 solid;
    border-radius: 2px;
}

.tree-page__name {
    display: flex;
    justify-content: center;
}

.signup a {
  float: left;
  color: #f2f2f2;
  background-color: 6c9734;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
