body {
  padding: 50px;
  font: 14px;
  font-family: 'Raleway', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  color: #555555;
}

button {
  cursor: pointer;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style-type: none;
  color: #5a6e53;
  background-color: rgba(255, 255, 255, 0.349);
  border-radius: 0.25rem;
}

*:focus {
  outline: none;
}
