body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

/* .navBar {
  background-color: #6c9734;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} */

/* .logOut {
  background-color: #6c9734;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

.logo {
  display: flex;
  margin-left: 100px;
}


.good {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #212121;
  text-decoration: none;
}

.tree {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #6c9734;
  text-decoration: none;
}

.signup a {
  float: left;
  color: #f2f2f2;
  background-color: 6c9734;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

