body,
html {
  height: 100%;
  margin: -15px 0px -10px 0px;
  font-family: "Raleway", sans-serif;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/forests/forest_sky_view.jpg");
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  color: white;
}

.labelClass {
  color: white;
  padding-top: 0.25rem;
  text-shadow: 2px 2px 8px black;
}

.form-control {
  border-radius: 0.25rem;
  background-color: #eee;
}

.create-btn {
  color: white;
}

.create-btn:hover {
  color: #bed3a3;
}

.welcome {
  margin-left: 30px;
  width: fit-content;
  height: fit-content;
}

.btn-login,
.btn-signup {
  font-size: larger;
  
}

.climbers {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

button {
  background: none;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  color: #bed3a3;
}

.good {
  color: white;
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-decoration: none;
}

.tree {
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #6c9734;
  text-decoration: none;
}

p {
  font-size: large;
}

.good,
.tree,
p,
.login,
button,
.form-container {
  text-shadow: 2px 2px 10px black;
}

.climbers {
  align-self: flex-end;
  margin-right: 10px;
}

/* .login {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: fit-content;
  width: fit-content;
} */

.sign-up {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: fit-content;
  width: fit-content;
}

.splash-page-link {
  font-size: x-large;
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  padding: .75rem;
  border-radius: 1rem;
  margin: .5rem;
  background: #a3a3a377;
  text-shadow: none;
}

.splash-page-link:hover {
  border-radius: 1rem;
  color: #bed3a3;
}
