body,
html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.splash-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-image: url("/forests/forest_sky_view.jpg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.splash-container__content-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 70%;
}

.form-container {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  color: white;
}

.form__auth {
  width: 20%;
  /* background: #a3a3a377; */
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__auth label {
  text-align: center;
}

.labelClass {
  color: white;
  padding-top: 0.25rem;
  text-shadow: 2px 2px 8px black;
}

.form-control {
  border-radius: 0.25rem;
  background-color: #eee;
}

.create-btn {
  color: white;
}

.create-btn:hover {
  color: #bed3a3;
}

.welcome {
  margin-left: 30px;
  width: fit-content;
  height: fit-content;
}

.btn-login,
.btn-signup {
  font-size: larger;
  
}

.climbers {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

button {
  color: #f8f6f3 !important;
  text-decoration: none;
  background: #6c9734;
  padding: .5rem;
  border-radius: .5rem;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 1rem .08rem;
}

button:hover:enabled {
  background: #434343;
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.login-form-button-container {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.login-form-button-container button {
  margin: .5rem;
}

.good {
  color: white;
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-decoration: none;
}

.tree {
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #6c9734;
  text-decoration: none;
}

p {
  font-size: large;
}

.good,
.tree,
p,
.login,
button,
.form-container {
  text-shadow: 2px 2px 10px black;
}

.climbers {
  align-self: flex-end;
  margin-right: 5%;
  position: absolute;
  bottom: 0;
}


.sign-up {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.splash-page-link {
  font-size: x-large;
  color: #fff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  padding: .75rem;
  border-radius: 1rem;
  margin: .5rem;
  background: #a3a3a377;
  text-shadow: none;
}

.splash-page-link:hover {
  border-radius: 1rem;
  color: #bed3a3;
}

li {
  list-style-type: none;
  color: #ddeed9;
}