extends layout.pug

block content

    form(class="form-review" method="POST" action="/reviews/new") 
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="treeId" value=tree.id)
        label(for="difficulty") Difficulty
            input(type="select" name="difficulty" id="difficulty")
                option(value=1) Easy
                option(value=2) Medium
                option(value=3) Hard
                option(value=4) Danger Seeker 
        label(for="funfactor") Fun Factor
            input(type="select" name="funfactor" id="funfactor")
                option(value=1) Boring
                option(value=2) Okay
                option(value=3) Enjoyable
                option(value=4) Amazing
        label(for="viewFromTop") View from Top
            input(type="select" name="viewFromTop" id="viewFromTop")   
                option(value=1) Dull
                option(value=2) Good
                option(value=3) Great
                option(value=4) Mesmerizing 
        label(for="reviewText") Tell us about it
            input(type="textarea" name="reviewText" id="reviewText" rows="4" cols="40")
                button(type="submit") Submit Review

