extends ../layout.pug
include ../utils.pug

block content
    .create-review__background.page__background
        h1.header Review #{tree.name}
        div(class="form-container")
            form(method="POST" action="/reviews/new" )
                div(class="row") 
                    +csrfToken()
                    input(type="hidden" name="treeId" value=tree.id)
                div(class="labelClass")
                    label(for="difficulty" class="labelClass") Difficulty
                div(class="form-select")
                    select(name="difficulty" id="difficulty")
                        if review.difficulty === 1
                            option(selected value=1) Easy
                        else
                            option(value=1) Easy
                        if review.difficulty === 2
                            option(selected value=2) Medium
                        else
                            option(value=2) Medium
                        if review.difficulty === 3
                            option(selected value=3) Hard
                        else
                            option(value=3) Hard
                        if review.difficulty === 4
                            option(selected value=4) Danger Seeker 
                        else
                            option(value=4) Danger Seeker 
                div(class="labelClass")
                    label(for="funFactor") Fun Factor
                div(class="form-select")
                    select(name="funFactor" id="funFactor")
                        if review.funFactor === 1
                            option(selected value=1) Boring
                        else
                            option(value=1) Boring
                        if review.funFactor === 2
                            option(selected value=2) Okay
                        else
                            option(value=2) Okay
                        if review.funFactor === 3
                            option(selected value=3) Enjoyable
                        else
                            option(value=3) Enjoyable
                        if review.funFactor === 4
                            option(selected value=4) Amazing
                        else
                            option(value=4) Amazing
                div(class="labelClass")
                    label(for="viewFromTop") View from Top
                div(class="form-select")
                    select(name="viewFromTop" id="viewFromTop")   
                        if review.funFactor === 1
                            option(selected value=1) Dull
                        else
                            option(value=1) Dull
                        if review.funFactor === 2
                            option(selected value=2) Good
                        else
                            option(value=2) Good
                        if review.funFactor === 3
                            option(selected value=3) Great
                        else
                            option(value=3) Great
                        if review.funFactor === 4
                            option(selected value=4) Mesmerizing 
                        else
                            option(value=4) Mesmerizing 
                div(class="labelClass")
                    label(for="reviewText") Tell us about this tree
                div(class="form-select")
                    textarea(name="reviewText" id="reviewText" placeholder="Please write your review..." cols="30" rows="10")= review.reviewText
                div.submit-btn
                    button(type="submit" class="form-btn") Submit Review
            div
                +validationErrorSummary(errors)

