extends ../layout.pug
include ../utils.pug

block content
    .create-tree__background
        .form-container
            +validationErrorSummary(errors)
            form(action="/trees/new" method="post") Create Tree Form
                +csrfToken()
                +field('Name', 'name', tree.name)
                +field('Closest City/State', 'cityState', tree.cityState)
                +field('Detailed Location', 'detLocation', tree.detLocation, 'textarea')
                +field('Description', 'description', tree.description, 'textarea')
                button(type='submit' class="form-btn") Create a new Tree