extends ../layout.pug

include ../utils.pug

block content

    .container
        .sidebar
            div.sub-header: a(href= "/trees/new").nav-link Add a new Tree!
            div
            div.sub-header: a(href= "/").nav-link Review this Tree!
        .tree-view__content
            h1.tree-page__name= tree.name
            div.tree-page__subheader
                h2 This Tree's Location:
                .tree-page__content: p= tree.cityState
                .tree-page__content: p= tree.detLocation
            div.tree-page__subheader
                h2 Added by:
                .tree-page__content: a(href="/users/"+tree.adderId) link here
            div.tree-page__subheader
                h2 Description:
                .tree-page__content: p= tree.description
            div.tree-page__subheader
                h2 This Tree's reviews:
                .review-list__container
                    each review in tree.reviews
                        +reviewListView(review)
