extends ../layout.pug

include ../utils.pug

block content
  .find-trees__background
    h1.header Find Trees
    .container
      .container__main-content
        .tree-list-view__container
          +treeListView(trees)


