extends ../layout.pug

append head
    script(src="/javascripts/trees-page.js" type="module" defer) 
include ../utils.pug

block content
  .trees-page__background.page__background 
    h1.header Find Trees
    div.container.trees-page__sorting
      .form-select
        select#find-trees-difficulty
          option(selected disabled value=0) Difficulty
          option(value=1) Easy
          option(value=2) Medium
          option(value=3) Hard
          option(value=4) Danger Seeker 
          option(value=0) All
      .form-select
        select#find-trees-funFactor
          option(selected disabled value=0) Fun Factor
          option(value=1) Boring
          option(value=2) Okay
          option(value=3) Enjoyable
          option(value=4) Amazing 
          option(value=0) All
      .form-select
        select#find-trees-viewFromTop
          option(selected disabled value=0) View From Top
          option(value=1) Dull
          option(value=2) Good
          option(value=3) Great
          option(value=4) Mesmerizing 
          option(value=0) All 
    .container
      .container__main-content
        .tree-list-view__container
          table.trees-table
            thead
              th.column Tree Name
              th.column Tree Location
              th.column Tree Creator
          .scroll
            table.trees-table
              tbody#tree-list-trees


