extends ../layout.pug
include ../utils.pug

block content
  div(class='form-container')
    div
      h1 Login
      div(class='form__auth')
        +validationErrorSummary(errors)
      div  
        form(action="/users/login", method="post") 
          +csrfToken()
          +field("Email", "email", email, "mail")
          +field("Password", "password", null, "password")
          div(class="login-btn")
            button(type="submit") Login
          div
            p: a(href="/users/sign-up" class="create-btn") Create a FREE GoodTrees account