extends ../layout.pug
include ../utils.pug

block content
  h1.header #{user.username}'s Forest
  .container
    .sidebar
      h2.sub-header Climber Score: 
      .score #{climberScore}
      h2.sub-header Trees in Forest: 
      .score #{climbedTrees.length + wantToClimbTrees.length}
    if climbedTrees.length || wantToClimbTrees.length
      .main-content  
        div
          h2.sub-header Already Climbed:
          div: +treeListView(climbedTrees)
        div
          h2.sub-header Want to Climb:
          div: +treeListView(wantToClimbTrees)
    else
      .main-content
        p <a href="/trees">Find trees</a> to add to your forest!