extends ../layout.pug
include ../utils.pug

block content
  div
    h1 #{user.username}'s Forest
  div
    h2 #{user.username}'s climber score:
      +treeListView(user.forestTrees)
  div
    h2 #{user.username}'s climbed trees:
  div
    h2 #{user.username}'s trees to climb: